
.nav-item a {
    color: #fff;
}

.imgNav {
    width: 5%;
    display: inline-block;
}

.quienesSomos i {
    background-color: #0dcaf0;
}

.fontBack {
    background-color: #0dcaf0;
}

.bgCard {
    background-color: #0dcaf0;
}

.formMensaje {
    height: 13rem;
}

.viajesFooter {
    background-color: #0dcaf0;
}