
.nav-item a {
    color: #fff;
}

.imgNav {
    height: 2rem;
}

.carousel-caption h1 {
    bottom: 100px;
}

#quienesSomos h3 {
    font-family: 'Lato', sans-serif;
}

#quienesSomos p {
    font-family: 'Roboto', sans-serif;
}

.quienesSomos i {
    background-color: #0dcaf0;
}

#destacados h3 {
    font-family: 'Lato', sans-serif;
}

.fontBack {
    background-color: #0dcaf0;
}

.bgCard {
    background-color: #0dcaf0;
}

#contacto h3 {
    font-family: 'Lato', sans-serif;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

.formMensaje {
    height: 13rem;
}

.viajesFooter {
    background-color: #0dcaf0;
}



/* Aparece navbar solid */
.bg-custom {
    background-color: #0dcaf0;
}
/* Efecto de transicion */
.navbar {
    -webkit-transition: all .0s ease 0s;
    transition: all .0s ease 0s;
}